<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>酸枣-专注于微信公众号直播|内容付费与社群变现的微课堂工具</title>
    <link rel = "Shortcut Icon" href="./img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
    <link rel="stylesheet" href="css/swiper-3.4.2.min.css">
    <script src="js/jquery-2.0.3.js"></script>
    <script src="js/swiper-3.4.2.jquery.min.js"></script>
</head>
<body>
    <div class="header">
        <div class="headbox clearfix">
            <a href="#">
                <img src="./img/LOGO.png" alt="" class="head-logo">
            </a>
            <ul>
                <li><a href="./index.html">首页</a></li>
                <li><a href="./product.html">产品体验</a></li>
                <li><a href="http://ww.llkeji.com/service.html">直播案例</a></li>
                <li><a href="http://ww.llkeji.com/">直播间后台</a></li>
                <li><a href="http://ww.llkeji.com/">购买服务</a></li>
                <li><a href="./anli.html">最新动态</a></li>
                <li><a href="./about.html">关于我们</a></li>
                <!--<p>-->
                <!--<span class="admission" onclick="wind()">免费使用</span>-->
                <!--<span>400-896-8756</span>-->
                <!--</p>-->
            </ul>
        </div>
    </div>
    <div class="wrapper">
        <div class="swiper-container">
        <div class="swiper-wrapper">

            <div class="swiper-slide"><img src="./img/banner01.png" alt=""></div>
            <div class="swiper-slide"><img src="./img/banner02.png" alt=""></div>
            <div class="swiper-slide"><img src="./img/banner03.png" alt=""></div>

        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination defined-pag"></div>
    </div>
        <div class="infoBox">
            <div class="info">
                <h3>关于酸枣</h3>
                <p>酸枣直播，是一款专注于微信公众号的轻量化直播工具。</p>
                <p>通过利用酸枣的基础直播服务和闪电拉新服务帮助自媒体解决内容变<br>现，付费转化等各项需求</p>
                <p>让更多自媒体人实现公众号的收入暴增、粉丝暴涨。</p>
                <p>面向各行业自媒体的变现需求，轻量化、免开发一键即可接入的视频<br>音频直播工具。</p>
            </div>
            <div class="infoPic">
                <img src="./img/info-pic.png" alt="">
            </div>
        </div>
        <div class="midBox">
            <h3 style="margin-top: 100px">他们都在用酸枣</h3>
            <ul class="midUl clearfix">
                <li>
                    <p>龙舞天团</p>
                    <p>龙舞天团微信公号在传统图文形式的内容输出方面，一直保持在一个比较高的水平。接入酸枣直播后，通过高质量直播内容的输出，让龙舞天团品牌和用户的互动更加的多元化。</p>
                </li>
                <li>
                    <p>途牛旅游网</p>
                    <p>旅游相关内容直播，已经成为途牛内容运营的一个核心业务单元。酸枣为我们提供了轻量化，免开发一键即可接入的音视频直播工具。 酸枣的强大技术研发实力，很好的保障了我们亿级用户的直播体验。</p>
                </li>
                <li>
                    <p>健人传媒</p>
                    <p>我们举办的全国规模的大型健美大赛，一直都在使用酸枣直播平台。平均每次直播都可以实现10多万元的直播收益，另外通过闪电拉新，平均每次获得新粉丝8万多。</p>
                </li>
                <li>
                    <p>国美电器</p>
                    <p>国美电器网上商城公众号接入酸枣直播后，更加便捷的去针对不通人群的需求去讲解和发布一些活动，酸枣直播一键接入公众号，快速便捷的解决了很多麻烦的程序。真正达到有效的传播。</p>
                </li>
            </ul>
        </div>
        <div class="contactBox">
            <div class="left-about">
                <h3>北京龙链科技有限公司</h3>
                <ul>
                    <li><img src="./img/i-phone.png" alt=""><span>咨询热线：400-876-8756</span></li>
                    <li><img src="./img/i-wx.png" alt=""><span>微信：suanzaozb</span></li>
                    <li><img src="./img/i-qq.png" alt=""><span>QQ：2570151949</span></li>
                    <li><img src="./img/i-email.png" alt=""><span>邮箱：2570151949@qq.com</span></li>
                    <li><img src="./img/i-address.png" alt=""><span>地址：朝阳十八里店尚8京环双创园4楼407</span></li>
                </ul>
            </div>
            <div class="map">
                <h3>The  Company  Map</h3>
                <img src="./img/map.png" alt="">
            </div>
        </div>
        <div class="footer">
            <div class="footbox">
                <ul class="footul">
                    <li>7X12小时售后服务</li>
                    <li>0元免费使用</li>
                    <li>0上限观看承诺</li>
                    <li>1V1竭诚服务</li>
                </ul>
            </div>
            <div class="footcont">
                <ul>
                    <li>
                        <p>产品</p>
                        <span>开放平台</span>
                        <span>闪电拉新</span>
                    </li>
                    <li>
                        <p>公司</p>
                        <span>关于酸枣</span>
                        <span>最新动态</span>
                    </li>
                    <li>
                        <p>服务</p>
                        <span>使用指南</span>
                        <span>大V入驻</span>
                        <span>客户端下载</span>
                    </li>
                </ul>
                <div class="ewmPic">
                    <div class="ewmPic-pig"></div>
                    <p>微信公众号</p>
                </div>
                <div class="call">
                    <p>联系方式：400-876-8756</p>
                    <p>华龙股份 股票代码 870893</p>
                </div>
            </div>
            <div class="download">
                <h4>App下载</h4>
                <a href="">
                    <img src="./img/ios.png" alt="" class="ios">
                </a><br>
                <a href="">
                    <img src="./img/andriod.png" alt="" class="android">
                </a>
            </div>
        </div>
        <div class="record">
            <p>北京龙链科技有限公司</p>
            <p>Copyright © 1998 - 2017 Suanzao.Com.Cn All Rights </p>
        </div>
        <p class="pcText">
            粤ICP备15103069号-1
        </p>
    </div>
    <script>
        $(function () {
            var mySwiper = new Swiper ('.swiper-container', {
                autoplay : 3000,
                autoplayDisableOnInteraction : false,
                speed: 1500,
                loop: true,
                effect: 'fade',
                // 如果需要分页器
                pagination: '.swiper-pagination',
                paginationClickable :true,
                // 如果需要前进后退按钮
            });
        })
    </script>
</body>
</html>