<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>酸枣-专注于微信公众号直播|内容付费与社群变现的微课堂工具</title>
        <link rel = "Shortcut Icon" href="./img/favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
        <link rel="stylesheet" href="css/swiper-3.4.2.min.css">
        <script src="js/jquery-2.0.3.js"></script>
        <script src="js/swiper-3.4.2.jquery.min.js"></script>
        <style>
            .father {
                position: relative;
                text-align: center;
            }
            .father .child {
                position: absolute;
                width: 134px;
                margin:0 auto;
                height: 0;
                left:0;
                top: 60px;
                overflow: hidden;
            }
            .father .child a {
                text-align: center;
                margin-left: 10px;
            }

            .father .child li {
                opacity: 1;
            }
            .father:hover ul{
                height: 240px;
                overflow: visible;
                background-color: #000;
                transition: all .3s;
            }
            .father:hover ul li {
                opacity: 1;
            }
        </style>
	</head>
	<body>
            <div class="header">
            <div class="headbox clearfix">
                <a href="#">
                    <img src="./img/LOGO.png" alt="" class="head-logo">
                </a>
                <ul>
                    <li class="father"><a href="./index.html">首页</a></li>
                    <li class="father"><a href="./product.html">产品体验</a>
                        <ul class="child">
                            <li><a href="">直播间</a></li>
                            <li><a href="">直播间</a></li>
                            <li><a href="">直播间</a></li>
                            <li><a href="">直播间</a></li>
                        </ul>
                    </li>
                    <li class="father"><a href="http://ww.llkeji.com/service.html">直播案例</a>
                        <ul class="child">
                            <li><a href="">直播间</a></li>
                            <li><a href="">直播间</a></li>
                            <li><a href="">直播间</a></li>
                            <li><a href="">直播间</a></li>
                        </ul>
                    </li>
                    <li class="father"><a href="http://ww.llkeji.com/">直播间后台</a>
                        <ul class="child">
                            <li><a href="">直播间</a></li>
                            <li><a href="">直播间</a></li>
                            <li><a href="">直播间</a></li>
                            <li><a href="">直播间</a></li>
                        </ul>
                    </li>
                    <li class="father"><a href="http://ww.llkeji.com/">购买服务</a>
                        <ul class="child">
                            <li><a href="">直播间</a></li>
                            <li><a href="">直播间</a></li>
                            <li><a href="">直播间</a></li>
                            <li><a href="">直播间</a></li>
                        </ul>
                    </li>
                    <li class="father"><a href="./anli.html">最新动态</a>
                        <ul class="child">
                            <li><a href="">直播间</a></li>
                            <li><a href="">直播间</a></li>
                            <li><a href="">直播间</a></li>
                            <li><a href="">直播间</a></li>
                        </ul>
                    </li>
                    <li class="father"><a href="./about.html">关于我们</a>
                        <ul class="child">
                            <li><a href="">直播间</a></li>
                            <li><a href="">直播间</a></li>
                            <li><a href="">直播间</a></li>
                            <li><a href="">直播间</a></li>
                        </ul>
                    </li>
                    <!--<p>-->
                    <!--<span class="admission" onclick="wind()">免费使用</span>-->
                    <!--<span>400-896-8756</span>-->
                    <!--</p>-->
                </ul>
            </div>
        </div>
            <div class="wrapper">
                <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="./img/banner01.png" alt=""></div>
                    <div class="swiper-slide"><img src="./img/banner02.png" alt=""></div>
                    <div class="swiper-slide"><img src="./img/banner03.png" alt=""></div>
                </div>
                <!-- 如果需要分页器 -->
                <div class="swiper-pagination defined-pag"></div>
            </div>
			<!--<div class="bannerbox">-->
				<!--<div class="bannercont">-->
					<!--<h3>整合式解决方案用直播快速变现</h3>-->
					<!--<h2>微信直播领导者</h2>-->
					<!--<p>酸枣作为目前国内优秀的移动直播领域技术服务商，</p>-->
					<!--<p>也是该领域的上市公司，我们为用户提供全方位的移动直播解决方案，</p>-->
					<!--<p>帮助企业更快捷的实现传统业务向移动互联网的迁移，用技术驱动商业进化</p>-->
					<!--<ul class="bannerUl">-->
						<!--<li>快速搭建完成</li>-->
						<!--<li>强大功能模块</li>-->
						<!--<li>流程操作简单</li>-->
						<!--<li>支持功能定制</li>-->
						<!--<li>微信在线教学</li>-->
					<!--</ul>-->
					<!--<div class="bannerBtn">-->
						<!--<p onclick="wind()">点击咨询酸枣客服</p>-->
						<!--<p onclick="wind()">免费试用酸枣直播</p>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
            <div class="head-wrap">
                <div class="headBox">
                    <h4>专注于微信公众号的直播变现工具！</h4>
                    <p class="p-head">多设备接入微信公众号，音视频同步直播，让直播更立体。</p>
                    <ul class="conlumn clearfix">
                        <li>
                            <img src="./img/livebg.png" alt="">
                            <p class="p-one">付费课程，多种变现方式自由组合<br>全面放大内容价值。</p>
                            <div class="pos">
                                <img src="./img/live.png" alt="">
                                <p>一键开课</p>
                                <p>马上直播</p>
                            </div>
                        </li>
                        <li>
                            <img src="./img/sharebg.png" alt="">
                            <p class="p-one">闪电拉新，快速获取海量新粉丝<br>让直播收益暴涨！</p>
                            <div class="pos pos-bottom">
                                <img src="./img/share.png" alt="">
                                <p>无需下载APP邀请卡</p>
                                <p>一键分享</p>
                            </div>
                        </li>
                        <li>
                            <img src="./img/interactbg.png" alt="">
                            <p class="p-one">多场景互动，调动热情增加趣味<br>开课提醒，精彩内容不荣错过</p>
                            <div class="pos">
                                <img src="./img/interact.png" alt="">
                                <p>多场景直播</p>
                                <p>花样互动</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="headBox">
                    <h4>企业级直播解决方案，想你所想</h4>
                    <p class="suanzao">酸枣直播，帮助企业用 10%的成本 创造100+倍的传播价值</p>
                </div>
            </div>
            <div class="liveBox">
                    <div id="slide">
                        <ul class="slide-door clearfix">
                            <li>
                                <div class="bg erase-bg"></div>
                                <div class="inner">
                                    <div class="img-wrapper">
                                        <img src="./img/medium.png" alt="">
                                        <p>自媒体</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="bg"></div>
                                <div class="inner">
                                    <div class="img-wrapper">
                                        <img src="./img/money.png" alt="">
                                        <p>金融</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="bg"></div>
                                <div class="inner">
                                    <div class="img-wrapper">
                                        <img src="./img/medical.png" alt="">
                                        <p>医疗</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="bg"></div>
                                <div class="inner">
                                    <div class="img-wrapper">
                                        <img src="./img/shop.png" alt="">
                                        <p>电商</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
            </div>
			<div class="contBox">
				<h3>五步快速设置，即刻开始授课</h3>
				<p class="ftirle">酸枣直播,与微信打通,全终端流畅观看,免开发一键接入</p>
				<p class="ftirle">快速创建微信直播间,无需服务器,无需懂程序,无需大量维护</p>
				<ul class="contUl">
					<li>
                        <img src="./img/zc.png" alt="">
                        <span>注册账户</span>
                    </li>
					<li>
                        <img src="./img/kk.png" alt="">
                        <span>点击开课</span>
                    </li>
					<li>
                        <img src="./img/zl.png" alt="">
                        <span>资料提交</span>
                    </li>
					<li>
                        <img src="./img/xz.png" alt="">
                        <span>配置课程</span>
                    </li>
					<li>
                        <img src="./img/sk.png" alt="">
                        <span>开始上课</span>
                    </li>
				</ul>

				<h4>一键接入，让你的微信公众号秒变“直播间”</h4>
				<div class="zsPic"></div>
				<div class="bannerBtn contBtn">
					<p onclick="wind()">点击咨询酸枣客服</p>
					<p onclick="wind()">免费试用酸枣直播</p>
				</div>
			</div>
			<div class="range">
                <div class="range-center">
                    <h1>热门应用场景</h1>
                    <ul class="rangBox">
                        <li>
                            <p>发布会</p>
                            <span>产品发布</span>
                            <span>产品推广</span>
                            <span>渠道招聘</span>
                            <span>会议营销</span>
                        </li>
                        <li>
                            <p>培训</p>
                            <span>客户培训</span>
                            <span>员工培训</span>
                            <span>远程教育</span>
                            <span>在线课堂</span>
                        </li>
                        <li>
                            <p>研讨会</p>
                            <span>技术/产品研讨会</span>
                            <span>合作伙伴大会</span>
                            <span>渠道大会</span>
                            <span>日常沟通会议</span>
                        </li>
                        <li>
                            <p>其它</p>
                            <span>峰会/论坛/讲座</span>
                            <span>专业领域视频应用</span>
                            <span>医药/金融/传媒</span>
                            <span>赛事/互娱 </span>
                        </li>
                    </ul>
                </div>
			</div>
			<div class="midBox">
				<h3>他们都在用酸枣</h3>
				<ul class="midUl">
					<li>
						<p>龙舞天团</p>
						<p>龙舞天团微信公号在传统图文形式的内容输出方面，一直保持在一个比较高的水平。接入酸枣直播后，通过高质量直播内容的输出，让龙舞天团品牌和用户的互动更加的多元化。</p>
					</li>
					<li>
						<p>途牛旅游网</p>
						<p>旅游相关内容直播，已经成为途牛内容运营的一个核心业务单元。酸枣为我们提供了轻量化，免开发一键即可接入的音视频直播工具。 酸枣的强大技术研发实力，很好的保障了我们亿级用户的直播体验。</p>
					</li>
					<li>
						<p>健人传媒</p>
						<p>我们举办的全国规模的大型健美大赛，一直都在使用酸枣直播平台。平均每次直播都可以实现10多万元的直播收益，另外通过闪电拉新，平均每次获得新粉丝8万多。</p>
					</li>
					<li>
						<p>国美电器</p>
						<p>国美电器网上商城公众号接入酸枣直播后，更加便捷的去针对不通人群的需求去讲解和发布一些活动，酸枣直播一键接入公众号，快速便捷的解决了很多麻烦的程序。真正达到有效的传播。</p>
					</li>
				</ul>
			</div>
			<div class="sizeBox">
                <div class="range-center">
                    <h3>即刻开始：用直播实现价值</h3>
                    <p class="sizetitle">创新在线学习模式，引领直播课堂潮流</p>
                    <div class="bannerBtn contBtn">
                        <p onclick="wind()">在线直播点击咨询</p>
                        <p onclick="wind()">免费体验直播系统</p>
                    </div>
                </div>
			</div>
			<div class="listBox">
				<h3>多种版本供你选择</h3>
				<p>基础直播服务+闪电拉新服务，帮助您的微信公众号快速增收涨粉</p>
				<div class="listCont">
					<div class="jcbox">
						<p>
							<span>基础版</span>
							<span>功能费：0元/年</span>
							<span class="mfktBtn" p onclick="wind()">免费开通</span>
						</p>
						<ul>
							<li>付费内容载体：音频、视频 </li>
							<li>付费形式：单节课、系列课 </li>
							<li>运营管理：内容、用户关系、财务</li>
							<li>数据分析：营收趁势、用户活跃度等 </li>
							<li>邀请卡 </li>
							<li>评论互动</li>
							<li>首页名称自定义</li>
							<li>视频+语音直播</li>
							<li class="nobac">用户定向推送</li>
							<li class="nobac">闪电拉新</li>
						</ul>
					</div>
					<div class="sybox">
						<p>
							<span>试用版</span>
							<span>功能费：688元/年</span>
							<span class="mfktBtn" p onclick="wind()">立即开通</span>
						</p>
						<ul>
							<li>付费内容载体：音频、视频 </li>
							<li>付费形式：单节课、系列课 </li>
							<li>运营管理：内容、用户关系、财务</li>
							<li>数据分析：营收趁势、用户活跃度等 </li>
							<li>邀请卡 </li>
							<li>评论互动</li>
							<li>首页名称自定义</li>
							<li>视频+语音直播</li>
							<li>用户定向推送</li>
							<li>闪电拉新</li>
						</ul>
					</div>
					<div class="hsbox">
						<p>
							<span>专业版</span>
							<span>功能费：2688元/年</span>
							<span class="mfktBtn" p onclick="wind()">立即开通</span>
						</p>
						<ul>
							<li>付费内容载体：音频、视频 </li>
							<li>付费形式：单节课、系列课 </li>
							<li>运营管理：内容、用户关系、财务</li>
							<li>数据分析：营收趁势、用户活跃度等 </li>
							<li>邀请卡 </li>
							<li>评论互动</li>
							<li>首页名称自定义</li>
							<li>视频+语音直播</li>
							<li>用户定向推送</li>
							<li>闪电拉新</li>
						</ul>
					</div>
				</div>
			</div>
			<div style="clear: both;"></div>
            <div class="newsBox headBox">
                <h4>新闻资讯</h4>
                <p class="news-p">众多资讯,就在这里</p>
                <ul class="news clearfix">
                    <li>品牌热点</li>
                    <li>酸枣动态</li>
                    <li>行业动态</li>
                    <li>常见问答</li>
                </ul>
                <div class="new-cont">
                    <ul class="left-news">
                        <li>
                            <img src="./img/news-pic.png" alt="">
                            <div class="news-tit">
                                <h4>酸枣直播</h4>
                                <p>酸枣直播酸枣直播酸枣直播酸播酸枣直播酸枣直播酸枣直播酸枣直播酸枣直播酸枣直播酸枣直播酸枣直播</p>
                            </div>
                        </li>
                        <li>
                            <img src="./img/news-pic.png" alt="">
                            <div class="news-tit">
                                <h4>酸枣直播</h4>
                                <p>酸枣直播酸枣直播酸枣直枣直播酸枣直播酸枣直播酸枣直播酸枣直播酸枣直播酸枣直播酸枣直播酸枣直播酸枣直播</p>
                            </div>
                        </li>
                        <li>
                            <img src="./img/news-pic.png" alt="">
                            <div class="news-tit">
                                <h4>酸枣直播</h4>
                                <p>酸枣直播酸枣直播酸枣直播酸枣直播酸枣直播播酸枣直播酸枣直播酸枣直播酸枣直播酸枣直播</p>
                            </div>
                        </li>
                        <li>
                            <img src="./img/news-pic.png" alt="">
                            <div class="news-tit">
                                <h4>酸枣直播</h4>
                                <p>酸枣直播酸枣直播酸枣直酸枣直播酸枣直播酸枣直播酸枣直播酸枣直播酸枣直播酸枣直播酸枣直播酸枣直播</p>
                            </div>
                        </li>
                    </ul>
                    <div class="right-news">
                        <img src="./img/right-news.png" alt="">
                        <h4>酸枣直播</h4>
                        <p>酸枣直播酸枣直播酸枣直播酸枣直播酸枣直播酸枣直播酸枣直播酸枣直播酸枣直播酸枣直播酸枣直播</p>
                    </div>
                </div>
            </div>
			<div class="footer">
				<div class="footbox">
					<ul class="footul">
						<li>7X12小时售后服务</li>
						<li>0元免费使用</li>
						<li>0上限观看承诺</li>
						<li>1V1竭诚服务</li>
					</ul>
				</div>
				<div class="footcont">
					<ul>
						<li>
							<p>产品</p>
							<span>开放平台</span>
							<span>闪电拉新</span>
						</li>
						<li>
							<p>公司</p>
							<span>关于酸枣</span>
							<span>最新动态</span>
						</li>
						<li>
							<p>服务</p>
							<span>使用指南</span>
							<span>大V入驻</span>
							<span>客户端下载</span>
						</li>
					</ul>
					<div class="ewmPic">
						<div class="ewmPic-pig"></div>
						<p>微信公众号</p>
					</div>
					<div class="call">
						<p>联系方式：400-876-8756</p>
						<p>华龙股份 股票代码 870893</p>
					</div>
				</div>
                <div class="download">
                    <h4>App下载</h4>
                    <a href="">
                        <img src="./img/ios.png" alt="" class="ios">
                    </a><br>
                    <a href="">
                        <img src="./img/andriod.png" alt="" class="android">
                    </a>
                </div>
			</div>
			<div class="record">
				<p>北京龙链科技有限公司</p>
				<p>Copyright © 1998 - 2017 Suanzao.Com.Cn All Rights </p>
			</div>
			<p class="pcText">
				粤ICP备15103069号-1
			</p>
		</div>
        <div class="return-top">
            <figure>
                <img src="./img/top.png" alt="">
            </figure>
        </div>
	</body>
	<script>
		
//		function wind(){
//			window.open("http://p.qiao.baidu.com/im/index?siteid=11050317&ucid=21501345&cp=&cr=&cw=")
//		}
//
//		$(".admission").click(function(){
//			$(this).addClass("on");
//		})
  $(function () {
      var mySwiper = new Swiper ('.swiper-container', {
          autoplay : 3000,
          autoplayDisableOnInteraction : false,
          speed: 1500,
          loop: true,
          effect: 'fade',
          // 如果需要分页器
          pagination: '.swiper-pagination',
          paginationClickable :true,
          // 如果需要前进后退按钮
          nextButton: '.swiper-button-next',
          prevButton: '.swiper-button-prev',

      });
  })

//    返回顶部
  $(function () {

      $('.return-top').hide();

      $(window).scroll(function () {
          $(this).scrollTop()>600 ? $('.return-top').fadeIn() : $('.return-top').hide();
      })

      $('.return-top').on('click',function (e) {
          e.preventDefault();
          $("html,body").animate({scrollTop: 0}, 600);
      });
  })

    $(function(){
        function zoomScene(self) {
            $('.bg').removeClass('erase-bg', {duration: 500});
            self.find('.bg').addClass('erase-bg', {duration: 500});
            self.siblings('.slide-door li').removeClass('big')
            self.addClass('big', {duration:500})

            $('.img-wrapper').addClass('preview');
            self.find('.img-wrapper').removeClass('preview');
        }
        $('.slide-door li').unbind().hover(function(){
            var self = $(this)
            zoomScene(self)
        })
        zoomScene($('.slide-door li').first())
    })
    </script>
    <script>
//var _hmt = _hmt || [];
//(function() {
//  var hm = document.createElement("script");
//  hm.src = "https://hm.baidu.com/hm.js?302a5cf99fe1e8b14bd879aba90f1341";
//  var s = document.getElementsByTagName("script")[0];
//  s.parentNode.insertBefore(hm, s);
//})();
</script>

</html>
