<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>酸枣</title>
<link rel="stylesheet" href="./css/index.css">
<link rel="stylesheet" type="text/css" href="http://ww.llkeji.com/template/www/desktop/css/global.css"/>
<link rel="stylesheet" type="text/css" href="http://ww.llkeji.com/template/www/desktop/css/homepage.css"/>
<link rel="stylesheet" type="text/css" href="http://ww.llkeji.com/template/www/desktop/css/hover.css"/>
<script type="text/javascript"  src="http://ww.llkeji.com/template/www/desktop/js/jquery.min.js"></script>
<script>
$(function(){
	$('.product .hd li').click(function(){
		$('.product .hd li').removeClass('on');
		$(this).addClass('on');
		$('.product .bd .item').hide();
		$('.product .bd .item').eq($(this).index()).show();
	})
});
</script>
    <style>
        .product .bd .p4 dl {
            padding-top: 70px;
        }
        .product .hd li {
            cursor: pointer;
        }
    </style>
</head>
<body>
	<!-- 头部 -->
	<div id="header">
    	<div class="w1200">
            <div class="logo"><img src="http://ww.llkeji.com/template/www/desktop/images/logo.png"></div>
            <ul>
                <li><a href="http://ww.llkeji.com">首 页</a></li>
                <li class="on"><a href="http://ww.llkeji.com/product.html">产品体验</a></li>
                <li><a href="http://ww.llkeji.com/service.html">购买服务</a></li>
                <li><a href="http://www.suanzao.com.cn/category.php?cid=1">最新动态</a></li>
            </ul>
        </div>
    </div>
    <!-- banner -->
	<div class="banner">
        <ul class="banner_box">
            <li style="opacity: 1;filter:alpha(opacity=100);"><a href="javascript:;" style="background:url(http://ww.llkeji.com/template/www/desktop/images/banner01.png) center top no-repeat"></a></li>
            <li><a href="javascript:;" style="background:url(http://ww.llkeji.com/template/www/desktop/images/banner02.png) center top no-repeat"></a></li>
            <li><a href="javascript:;" style="background:url(http://ww.llkeji.com/template/www/desktop/images/banner03.png) center top no-repeat"></a></li>
        </ul>
    </div>
    <!-- box1 -->
	<div class="product">
    	<div class="hd">
        	<ul class="w1200">
            	<li class="n1 on">基础直播</li>
                <li class="n2">闪电拉新</li>
            </ul>
        </div>
        <div class="bd">
        	<div class="porduct_1 item" style="display:block;">
            	<div class="p1">
                	<div class="w1200">
                	<dl>
                    	<dt>多设备接入微信公号直播更立体</dt>
                        <dd>轻量化、免开发一键即可接入微信公号的直播工具
                        <br>音频、视频同步直播
                        </dd>
                    </dl>
                    <div class="img"><img src="http://ww.llkeji.com/template/www/desktop/images/img01.png"></div>
                    </div>
                </div>
                <div class="p2">
                	<div class="w1200">
               	 	<div class="img"><img src="http://ww.llkeji.com/template/www/desktop/images/img03.png"></div>
                	<dl>
                    	<dt>音频、视频同步直播</dt>
                        <dd>
                        	付费课，多种变现方式自由组合<br>
							全面放大内容价值
                        </dd>
                    </dl>
                    </div>
                </div>
                <div class="p3">
                	<div class="w1200">
                	<dl>
                    	<dt>丰富的互动方式</dt>
                        <dd>与老师面对面实时交流，解决困惑<br>
                        多场景互动，调动热情增加趣味<br>
						开课提醒，“老师”再也不用担心我迟到了！
                        </dd>
                    </dl>
                    <div class="img"><img src="http://ww.llkeji.com/template/www/desktop/images/img04.png"></div>
                    </div>
                </div>
            </div>
            <div class="porduct_2 item">
            	<div class="p4">
                	<div class="w1200">
                     <div class="img"><img src="http://ww.llkeji.com/template/www/desktop/images/img05.png"></div>
                	<dl>
                    	<dt>获取用户</dt>
                        <h2>· 海量精准用户</h2>
                        <dd>开播前24小时，基于直播预告，将拉新海报，<br>
                        	在朋友圈进行裂变式传播，快速获取到对直播<br>内容感兴的精准用户。</dd>
                        <h2>· 置顶直播内容</h2>
                        <dd>重点推荐，获取更多用户关注</dd>
                    </dl>
                   
                    </div>
                </div>
                <div class="p5">
                	<div class="w1200">
               	 	
                	<dl>
                    	<dt>分享邀请卡</dt>
                        <h2>· 精准邀约</h2>
                        <dd>微信好友、微信群、朋友圈等方式进行精准要约，带来更多目标客户</dd>
                        <h2>· 广告推荐</h2>
                        <dd>可添加自定义广告，推广品牌和产品</dd>
                    </dl>
                    <div class="img"><img src="./img/product3.png"></div>
                    </div>
                </div>
                <div class="p4">
                    <div class="w1200">
                        <div class="img"><img src="./img/product2.png"></div>
                        <dl>
                            <dt>在线观看</dt>
                            <h2>· 观看人数</h2>
                            <dd>实时分析直播活动各个时段的人数，优化直播活动发起时间</dd>
                            <h2>· 观看时长</h2>
                            <dd>通过对用户观看时间和次数的分析，优化直播内容的质量</dd>
                            <h2>· 信息收集</h2>
                            <dd>报名签到，轻松 收集报名签到等观看信息</dd>
                            <h2>· 问卷聊天</h2>
                            <dd>快速收集问卷内容，聊天信息，深层次增加互动</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <div id="footer">
    	<div class="footer w1200" style="height: auto">
        	<ul>
            	<li>
                	<strong>产品</strong>
                    <span>开放平台</span>
                    <span>闪电拉新</span>
                </li>
                <li>
                	<strong>公司</strong>
                    <span>关于酸枣</span>
                    <span>最新动态</span>
                </li>
                <li>
                	<strong>服务</strong>
                    <span>使用指南</span>
                    <span>大V入驻</span>
                    <span>客户端下载</span>
                </li>
            </ul>
            <dl>
            	<dt><img src="http://ww.llkeji.com/template/www/desktop/images/QR.png"><span>微信公众号</span></dt>
                <dd>
                	联系方式：400-876-8756<br>
                    企业邮箱：support@suanzao.com.cn <br>
                    华龙股份 股票代码：870893
                </dd>
            </dl>
        </div>
        <div class="footer_bottom w1200">
        北京龙链科技有限公司<br>
		Copyright © 1998 - 2017 Suanzao.Com.Cn All Rights Reserved  京ICP备15103069号-1</div>
    </div>
<script type="text/javascript" src="http://ww.llkeji.com/template/www/desktop/js/jquery.yx_rotaion.js"></script>
<script type="text/javascript">
$(function(){
    $(".banner").banner({
    });
});

</script>

</body>